#EvidenceFinder {
  width: 1440px;
  height: 960px;
  margin: 0 auto;
  border: 1px solid grey;
  position: relative;
  background: linear-gradient(270deg, #0068ae 0%, #001963 100%);
}

#Apply {
  width: 100px;
  position: absolute;
  bottom: 50px;
  display: block;
  left: 50%;
  margin-left: -50px;
  font-size: 16px;
  line-height: 40px;
  background-color: grey;
  border: 0;
  color: white;
  border-radius: 3px;
}

.tally {
  position: absolute;
  color: #ffffff;
  left: 331px;
  top: 201px;
  font-family: Verdana;
  text-align: center;
  transition: all 0.25s;
}

.tally__lives__number,
.tally__articles__number {
  font-family: Verdana;
  font-size: 42px;
  border-bottom: 1px solid #ffffff;
  margin: 5px 0;
  font-weight: bold;
}

.tally__lives__label,
.tally__articles__label {
  font-size: 12px;
}

.tally--desktop {
}

.tally--mobile {
  top: 141px;
  left: 263px;
  transition: all 0.25s;
}

.tally--mobile .tally__lives__number,
.tally--mobile .tally__articles__number {
  font-family: Verdana;
  font-size: 29px;
  border-bottom: 1px solid #ffffff;
  margin: 5px 0;
  font-weight: bold;
}

.tally--mobile .tally__lives__label,
.tally--mobile .tally__articles__label {
  font-size: 9.6px;
}

.ongrid {
  position: absolute;
  width: 100px;
  bottom: 50px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  left: 900px;
  padding: 10px;
  opacity: 0.25;
}

.cta {
  position: absolute;
  left: 820px;
  top: 167px;
  width: 333px;
  height: 78px;
  color: #ffffff;
  font-family: Verdana;
  font-size: 16px;
}

.cta__button {
  width: 320px;
  height: 60px;
  background-color: #001965;
  border-radius: 30px;
  border: 0;
  margin-top: 16px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.drawer {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  width: 720px;
  background-color: #001965;
  transition: all 0.25s;
}

.drawer--open {
  right: 0;
  transition: all 0.25s;
}

.circle {
  position: absolute;
  cursor: pointer;
  text-align: center;
  display: none;
  width: 130px;
  height: 130px;
  line-height: 130px;
  transition: all 0.25s;
}

.circle.circle--desktop {
}

.circle.circle--mobile {
  width: 100px;
  height: 100px;
  line-height: 100px;
  transition: all 0.25;
}

.circle--showing {
  display: block;
}

.circle__label {
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}

.circle.circle--mobile .circle__label {
  font-size: 11px;
}

.circle__article-count {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: -3px;
  font-family: Verdana;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
}

.circle.circle--mobile .circle__article-count {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 9.6px;
  left: 38px;
  top: -1px;
}

.circle__checkmark {
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  width: 18px;
  height: 8px;
  line-height: 18px;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 15px;
  left: 55px;
  opacity: 0.25;
}

.circle.circle--mobile .circle__checkmark {
  border-width: 2px;
  left: 38px;
}

.circle__uncheck {
  width: 18px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  bottom: 15px;
  left: 55px;
  opacity: 0.25;
  font-size: 30px;
  opacity: 0;
  color: #ffffff;
}

.filter-evidence {
  border: 3px solid #f5a623;
  color: #ff9999;
}

.filter-evidence .circle__article-count {
  background-color: #f5a623;
  color: white;
}

.filter-evidence:hover {
  border-width: 6px;
  margin: -3px;
  transition: all 0.25s;
  z-index: 1;
}

.filter-evidence--selected {
  background-color: #f5a623;
}

.filter-evidence--selected .circle__article-count {
  background-color: #ffffff;
  color: #f5a623;
}

.filter-product {
  border: 3px solid #99ca3c;
  color: #66dd66;
}

.filter-product .circle__article-count {
  background-color: #99ca3c;
  color: white;
}

.filter-product:hover {
  border-width: 6px;
  margin: -3px;
  transition: all 0.25s;
  z-index: 1;
}

.filter-product--selected {
  background-color: #99ca3c;
}

.filter-product--selected .circle__article-count {
  background-color: #ffffff;
  color: #99ca3c;
}

.filter-category {
  border: 3px solid #009fda;
}

.filter-category .circle__article-count {
  background-color: #009fda;
  color: white;
}

.filter-category:hover {
  border-width: 6px;
  margin: -3px;
  transition: all 0.25s;
  z-index: 1;
}

.filter-category--selected {
  background-color: #009fda;
  color: #ffffff;
}

.filter-category--selected .circle__article-count {
  background-color: #ffffff;
  color: #009fda;
}

.filter-evidence--selected .circle__checkmark,
.filter-product--selected .circle__checkmark,
.filter-category--selected .circle__checkmark {
  opacity: 1;
}
