#EvidenceFinder {
  width: 1440px;
  height: 960px;
  margin: 0 auto;
  border: 1px solid grey;
  position: relative;
  background: linear-gradient(270deg, #0068ae 0%, #001963 100%);
}

#Apply {
  width: 100px;
  position: absolute;
  bottom: 50px;
  display: block;
  left: 50%;
  margin-left: -50px;
  font-size: 16px;
  line-height: 40px;
  background-color: grey;
  border: 0;
  color: white;
  border-radius: 3px;
}

.circle {
  position: absolute;
  cursor: pointer;
  text-align: center;
}

.circle__label {
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}

.circle__article-count {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: -3px;
  font-family: Verdana;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
}

.circle__checkmark {
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  width: 18px;
  height: 8px;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 15px;
  left: 55px;
  opacity: 0.25;
  animation-fill-mode: backwards !important;
}

.category-evidence {
  border: 3px solid #f5a623;
  color: #ff9999;
}

.category-evidence .circle__article-count {
  background-color: #f5a623;
  color: white;
}

.category-evidence:hover {
  border-width: 6px;
  margin: -3px;
  transition: all 0.25s;
  z-index: 1;
}

.category-evidence--selected {
  background-color: #f5a623;
}

.category-evidence--selected .circle__article-count {
  background-color: #ffffff;
  color: #f5a623;
}

.category-product {
  border: 3px solid #99ca3c;
  color: #66dd66;
}

.category-product .circle__article-count {
  background-color: #99ca3c;
  color: white;
}

.category-product:hover {
  border-width: 6px;
  margin: -3px;
  transition: all 0.25s;
  z-index: 1;
}

.category-product--selected {
  background-color: #99ca3c;
}

.category-product--selected .circle__article-count {
  background-color: #ffffff;
  color: #99ca3c;
}

.category-category {
  border: 3px solid #009fda;
}

.category-category .circle__article-count {
  background-color: #009fda;
  color: white;
}

.category-category:hover {
  border-width: 6px;
  margin: -3px;
  transition: all 0.25s;
  z-index: 1;
}

.category-category--selected {
  background-color: #009fda;
  color: #ffffff;
}

.category-category--selected .circle__article-count {
  background-color: #ffffff;
  color: #009fda;
}

.category-evidence--selected .circle__checkmark,
.category-product--selected .circle__checkmark,
.category-category--selected .circle__checkmark {
  opacity: 1;
}
