<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <!-- META.title -->
    </title>
    <link rel="icon" type="image/png" sizes="32x32" href="<!-- META.favicon -->">
    <!-- CSS -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="assets/css/ie.css" />
        <![endif]-->
</head>

<body>
    <div class="evidence-finder">
        <section class="pane main">
            <div class="main__wrapper">
                <div class="main__header__wrapper bg-white">
                    <div class="main__header">
                        <div class="main__header__logo">
                            <div class="logo">
                                <span class="text-blue-light logo__evidence">evidence</span>
                                <span class="text-blue logo__finder">finder</span>
                            </div>
                        </div>
                        <div class="main__header__menu">
                            <div class="icon__menu">
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main__body__wrapper">
                    <div class="main__body">
                        <div class="main__body__tally">
                            <div class="tally">
                                <div class="tally__articles">
                                    <div class="tally__articles__icon"></div>
                                    <div class="tally__articles__number">0</div>
                                    <div class="tally__articles__label">articles</div>
                                </div>
                                <div class="tally__lives">
                                    <div class="tally__lives__icon"></div>
                                    <div class="tally__lives__number">0</div>
                                    <div class="tally__lives__label">lives studied</div>
                                </div>
                            </div>
                        </div>
                        <div class="main__body__filters"></div>
                        <div class="main__body__cta">
                            <div class="cta">
                                <div class="cta__blurb text-white">Sort our evidence library by
                                    <span class="text-orange">evidence type</span>,
                                    <span class="text-green">product</span> and
                                    <span class="text-blue-light">category</span>. Select your areas of interest, view your results.</div>
                                <button class="main__body__view__articles cta__button text-white">View Articles</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pane results bg-blue">
            <div class="results__wrapper">
                <div class="results__summary">
                    <h2 class="text-white">Articles <span class="results__summary__count">(0)</span></h2>
                    <a href="" class="text-blue-light">View Articles in PubMed</a>
                </div>
                <ul class="results__articles">
                    <li class="results__article results__article--selected">
                        <div class="results__article__rwe text-white bg-orange">RWE</div>
                        <h3 class="results__article__title text-white">The impact of non-severe hypoglycemic events on work productivity and diabetes management.</h3>
                        <p class="results__article__authors text-white">Brod, Meryl; Christensen, Torsten; Thomsen, Trine L; Bushnell, Donald M.</p>
                    </li>
                    <li class="results__article">
                        <div class="results__article__rwe text-white bg-orange">RWE</div>
                        <h3 class="results__article__title text-white">The impact of non-severe hypoglycemic events on work productivity and diabetes management.</h3>
                        <p class="results__article__authors text-white">Brod, Meryl; Christensen, Torsten; Thomsen, Trine L; Bushnell, Donald M.</p>
                    </li>
                    <li class="results__article">
                        <div class="results__article__rwe text-white bg-orange">RWE</div>
                        <h3 class="results__article__title text-white">The impact of non-severe hypoglycemic events on work productivity and diabetes management.</h3>
                        <p class="results__article__authors text-white">Brod, Meryl; Christensen, Torsten; Thomsen, Trine L; Bushnell, Donald M.</p>
                    </li>
                    <li class="results__article">
                        <div class="results__article__rwe text-white bg-orange">RWE</div>
                        <h3 class="results__article__title text-white">The impact of non-severe hypoglycemic events on work productivity and diabetes management.</h3>
                        <p class="results__article__authors text-white">Brod, Meryl; Christensen, Torsten; Thomsen, Trine L; Bushnell, Donald M.</p>
                    </li>
                    <li class="results__article">
                        <div class="results__article__rwe text-white bg-orange">RWE</div>
                        <h3 class="results__article__title text-white">The impact of non-severe hypoglycemic events on work productivity and diabetes management.</h3>
                        <p class="results__article__authors text-white">Brod, Meryl; Christensen, Torsten; Thomsen, Trine L; Bushnell, Donald M.</p>
                    </li>
                </ul>
                <ul class="results__navigation">
                    <li class="results__navigation__link results__navigation__link--prev text-white">
                        <</li>
                            <li class="results__navigation__link results__navigation__link--page text-white">1</li>
                            <li class="results__navigation__link results__navigation__link--page text-white">2</li>
                            <li class="results__navigation__link results__navigation__link--page text-white">3</li>
                            <li class="results__navigation__link results__navigation__link--page text-white">4</li>
                            <li class="results__navigation__link results__navigation__link--page text-white">5</li>
                            <li class="results__navigation__link results__navigation__link--more text-white">...</li>
                            <li class="results__navigation__link results__navigation__link--prev text-white">></li>
                </ul>
            </div>
        </section>
        <section class="pane details bg-white">
            <div class="details__wrapper">
                <div class="details__header">
                    <a class="details__header__article bg-blue-ultra-light text-blue-ultra-light text-white-hover bg-blue-hover">Article</a><a class="details__header__related bg-blue-ultra-light text-blue-ultra-light text-white-hover bg-blue-hover">Related</a>
                    <a class="details__header__menu"></a>
                </div>
                <div class="details__body">
                    <div class="article">
                        <div class="article__info text-blue">
                            <h3 class="article__title">The impact of non-severe hypoglycemic events on work productivity and diabetes management.</h3>
                            <p><strong>AUTHOR:</strong> Brod, Meryl; Christensen, Torsten; Thomsen, Trine L; Bushnell, Donald M.</p>
                            <p><strong>OBJECTIVE:</strong> Hypoglycemia is a common complication of treatment with certain diabetes drugs. Non-severe hypoglycemic events (NSHEs) occur more frequently than severe events and account for the majority of total events. The objective of this multi-country study was to identify how NSHEs in a working population affect productivity, costs, and self-management behaviors.</p>
                            <p><strong>STUDY DESIGN:</strong> Multicenter study</p>
                            <p><strong>CONCLUSION:</strong> NSHEs are associated with substantial economic consequences for employers and patients. Greater attention to treatments that reduce NSHEs could have a major, positive impact on lost work productivity and overall diabetes management.</p>
                        </div>
                        <div class="article__footer">
                            <button class="article__footer__study bg-blue-light text-white bg-blue-hover">View Full Study</button>
                            <button class="article__footer__contact bg-white text-blue-light border-blue-light bg-blue-hover text-white-hover">Contact Novo Nordisk</button>
                            <ul class="article__tags">
                                <li class="article__tag bg-blue-ultra-light text-blue-ultra-light">Liraglutide</li>
                                <li class="article__tag bg-blue-ultra-light text-blue">Liraglutide</li>
                                <li class="article__tag bg-blue-ultra-light text-blue">Liraglutide</li>
                                <li class="article__tag bg-blue-ultra-light text-blue">Liraglutide</li>
                                <li class="article__tag bg-blue-ultra-light text-blue">Liraglutide</li>
                                <li class="article__tag bg-blue-ultra-light text-blue">Liraglutide</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="menu bg-white">
            <div class="menu__header border-grey-light">
                <h2 class="menu__header__title">Sort our evidence</h2>
                <div class="menu__header__close"><span class="menu__header__close__button"></span></div>
            </div>
            <div class="menu__body">
                <div class="menu__search">
                    <input type="text" class="menu__search__input" />
                </div>
                <h3 class="menu__subtitle">Select your areas of interest:</h3>
                <div class="menu__filters menu__table">
                    <div class="menu__row">
                        <div class="menu__col menu__evidence-type">
                            <a class="menu__filter__category">Evidence Type</a>
                            <a class="menu__filter"><i class="menu__filter__checkmark"></i>RWE</a>
                        </div>
                        <div class="menu__col menu__product">
                            <a class="menu__filter__category">Product</a>
                            <a class="menu__filter"><i class="menu__filter__checkmark"></i>RWE</a>
                        </div>
                    </div>
                </div>
                <div class="menu__filters menu__table">
                    <div class="menu__row">
                        <div class="menu__col menu__category">
                            <a class="menu__filter__category">Category</a>
                            <a class="menu__filter"><i class="menu__filter__checkmark"></i>RWE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu__footer">
                <div class="menu__table">
                    <div class="menu__row">
                        <div class="menu__col">
                            <a class="menu__view__articles border-blue-light text-blue-light">View Articles</a>
                        </div>
                        <div class="menu__col">
                            <a class="menu__view__results__link text-blue-light">View Results in PubMed</a>
                            <a class="menu__download__data__link text-blue-light">Download Data Set</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
</body>

</html>