<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <!-- META.title -->
    </title>
    <link rel="icon" type="image/png" sizes="32x32" href="<!-- META.favicon -->">
    <!-- CSS -->
</head>

<body>
    <div class="app">
        <ul>
            <li><a href="#/">State A</a></li>
            <li><a href="#/b">State B</a></li>
            <li><a href="#/b/123">State C</a></li>
        </ul>
    </div>
    <!-- JS -->
</body>

</html>