/**
 * Backgrounds
 */
.bg-white {
  background-color: #FFFFFF;
}

.bg-blue-light {
  background-color: #009FDA;
}

.bg-blue,
.bg-blue-hover:hover {
  background-color: #001965;
}

.bg-blue-ultra-light,
.bg-blue-ultra-light-hover:hover {
  background-color: #D9DDE8;
}

.bg-orange {
  background-color: #F5A623;
}

.bg-green {
  background-color: #99CA3C;
}

.bg-grey-light {
  background-color: #9B9B9B;
}

.bg-black {
  background-color: #000000;
}

/**
 * Text
 */
.text-white,
.text-white-hover:hover {
  color: #FFFFFF;
}

.text-blue,
.text-blue-hover:hover {
  color: #001965;
}

.text-blue-light,
.text-blue-light-hover:hover {
  color: #009FDA;
}

.text-blue-ultra-light,
.text-blue-ultra-light-hover:hover {
  color: #7583ac;
}

.text-orange {
  color: #F5A623;
}

.text-green {
  color: #99CA3C;
}

.text-grey-light {
  color: #9B9B9B;
}

.text-black {
  color: #000000;
}

/**
 * Border
 */
.border-white {
  border-color: #FFFFFF;
}

.border-blue-light {
  border-color: #009FDA;
}

.border-blue,
.border-blue-hover:hover {
  border-color: #001965;
}

.border-blue-ultra-light {
  border-color: #D9DDE8;
}

.border-orange {
  border-color: #F5A623;
}

.border-green {
  border-color: #99CA3C;
}

.border-grey-light {
  border-color: #9B9B9B;
}

.border-black {
  border-color: #000000;
}
