.cta {
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  text-align: center;
}

.cta__button {
  width: 320px;
  height: 60px;
  background-color: #001965;
  border-radius: 30px;
  border: 0;
  margin-top: 28px;
  font-size: 24px;
  font-weight: bold;
}