.details {
  transition: 1s all;
  width: 0%;
}

.details__wrapper {
  width: 428px;
  margin:43px;
  display: inline-block;
  overflow: hidden;
  opacity:1;
  transition: all 1s;
}

.details__header {
  position: relative;
}

.details__header__article {
  height: 38px;
  line-height: 38px;
  font-size: 15px;
  display: inline-block;
  width: 150px;
  text-align: center;
  border-top-left-radius: 24px;
  cursor: pointer;
}

.details__header__related {
  height: 38px;
  line-height: 38px;
  font-size: 15px;
  display: inline-block;
  width: 150px;
  text-align: center;
  border-top-right-radius: 24px;
  font-style: oblique;
  cursor: pointer;
}

.details__header__menu {
  width: 60px;
  height: 60px;
  border: 1px solid #666666;
  border-radius: 60px;
  display: block;
  position: absolute;
  top:0;
  right: 0;
  cursor: pointer;
}


.details__body {
  margin:50px 0 0;
}

/**
 * Responsive
 */
.view-splitscreen-details .details {
  width:50%;
}
