.header__menu__icon {
  width: 30px;
  height: 20px;
  position: relative;
  display: inline-block;
  border-top: 4px solid black;
}

.header__menu__icon:after, .header__menu__icon:before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
}

.header__menu__icon:after {
  bottom: 0px;
  left: 0;
}

.header__menu__icon:before {
  top: 6px;
  left: 0;
}

.menu {
  position: absolute;
  width: 470px;
  min-height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 55px 52px 0 rgba(0,0,0,0.66);
  display: none;
}

.menu.showing {
  display: block;
}

.menu__header {
  padding: 28px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100px;
}

.menu__header__title {
  font-size: 28px;
  font-weight: normal;
  position: absolute;
  left: 28px;
  top: 40px;
  margin: 0;
  padding: 0;
}

.menu__header__close {
  position: absolute;
  right: 40px;
  top: 40px;
  display: block;
  width: 25px;
  height: 25px;
}

.menu__header__close__button {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.menu__header__close__button::before, .menu__header__close__button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #CCCCCC;
}

.menu__header__close__button::before {
  transform: rotate(45deg);
}

.menu__header__close__button::after {
  transform: rotate(-45deg);
}

.menu__body {
  margin:30px;
}

.menu__search__input {
  background-color: #f2f2f2;
  border: 0;
  line-height: 36px;
  border-radius: 36px;
  width: 100%;
  padding: 0;
  text-indent: 10px;
  font-size: 14px;
}

.menu__subtitle {
  font-size: 22px;
  font-weight: normal;
  margin-top:40px;
}

.menu__filters {
  width:100%;
}

.menu__table {
  display: table;
  table-layout: fixed;
  border-spacing: 16px;
  margin:0 -16px -5px;
  width: 100%;
}

.menu__row {
  display:table-row;
}

.menu__col {
  display: table-cell;
  vertical-align: top;
}

.menu__filters a {
  display: block;
}

.menu__filter__category {
  font-size: 15px;
  padding:10px 0;
  border-bottom: 4px solid #e2e2e2;
}

.menu__filter {
  font-size: 13px;
  line-height: 40px;
  border-bottom: 1px solid #e2e2e2;
}

.menu__filter__checkmark {
  display: inline-block;
  width: 7px;
  height: 15px;
  border-right: 3px solid #e2e2e2;
  border-bottom: 3px solid #e2e2e2;
  transform: rotate(45deg);
  margin-right: 10px;
}

.menu__footer {
  margin:30px;
}

.menu__view__articles {
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  border-width: 2px;
  border-radius: 40px;
  border-style:solid;
  display: block;
  text-align: center;
  cursor: pointer;
}


.menu__view__results__link,
.menu__download__data__link {
  font-size: 12px;
  display: block;
  cursor: pointer;
  margin-bottom:10px;
}