.results {
  transition: 1s all;
  width: 0%;
  position: relative;
}

.results__wrapper {
  width: 430px;
  margin-left:-50%;
  display: block;
  overflow: hidden;
  opacity:0;
  transition: all 1s;
  position: absolute;
  left:50%;
  padding:0 50px;
}

.results h2 {
  font-weight: normal;
  font-size: 24px;
  margin:0;
  padding:0;
}

.results__summary {
  text-align: center;
  margin: 50px 0 25px;
}

.results__summary a {
  font-size: 12px;
}

.results__articles {
  width: 100%;
  list-style: none;
  margin:0 ;
  padding:0;
}

.results__article {
  list-style: none;
  margin:0;
  padding:0;
  background-image: -webkit-gradient(radial, right top, 1, 0% 0%, 1, from(#4A90E2), to(transparent));
  padding: 5px 0;
  height: 120px;
  /*border:1px solid white;*/
  position: relative;
  text-align: left;
  opacity: 0.5;
}

.results__article:after {
  content: "";
  width:12px;
  height: 12px;
  border-top:2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  right:10px;
  top: 60px;
  opacity: .75;
}

.results__article.results__article--selected {
  opacity: 1;
}

.results__article.results__article--selected:after {
  content:"";
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
  position: absolute;
  right:-50px;
  transform: rotate(45deg);
  top:50px;
  opacity: 1;
  transition: all 1.5s;
}

.results__article__rwe {
  display: block;
  width: 43px;
  height: 20px;
  position: absolute;
  top:10px;
  right: 0px;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  letter-spacing: -1px;
  text-indent: 2px;
}

.results__article__title {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    width: 350px;
}

.results__article__authors {
  font-size: 11px;
  line-height: 14px;
  opacity: .67;
  width: 350px;
}

.results__navigation {
  list-style: none;
  margin:0;
  width: 100%;
  padding:0;
  text-align: center;
}

.results__navigation__link {
  font-size: 14px;
  display: inline-block;
  padding:0 3px;
}

/**
 * Responsive
 */

.view-splitscreen-results .results {
  width: 50%;
  transition: 1s all;
}

.view-splitscreen-results .results__wrapper {
  opacity: 1;
}

.view-splitscreen-details .results {
  width:50%;
  text-align: right;
  transition: 1s all;
}

.view-splitscreen-details .results__wrapper {
  left:100%;
  margin-left:-510px;
  opacity: 1;
}

.view-splitscreen-results .results__article.results__article--selected:after {
  opacity: 0;
  transition: all 1.5s;
  height: 0;
  width:0;
  right: -200px;
}
