.tally {
  position: absolute;
  color: #ffffff;
  left: 0;
  top: 50px;
  font-family: Verdana;
  text-align: center;
  transition: all 0.25s;
}


.tally__articles {
  position: relative;
  width:130px;
  height: 80px;
}

.tally__articles__icon {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;

}

.tally__articles__number {
  font-size: 42px;
  border-bottom: 1px solid #ffffff;
  margin: 5px 0;
  font-weight: bold;
  width:80px;
  position: absolute;
  right:0;
}

.tally__articles__label {
  font-size: 12px;
  width:80px;
  position: absolute;
  right:0;
  top: 60px;
}


.tally__lives {
  position: relative;
  width:130px;
  height: 80px;
}

.tally__lives__icon {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;

}

.tally__lives__number {
  font-size: 32px;
  border-bottom: 1px solid #ffffff;
  margin: 5px 0;
  font-weight: bold;
  width:80px;
  position: absolute;
  right:0;
}

.tally__lives__label {
  font-size: 12px;
  width:80px;
  position: absolute;
  right:0;
  top: 60px;
}